set boldtext      true
set autoindent    true
set nohelp        true
set mouse         true
set minibar       false
set backup        true
set casesensitive true
set quickblank    true
set zero          true
set backupdir     /root/.nanobackups
set jumpyscrolling true

set numbercolor   white,black
set titlecolor    white,black
set statuscolor   white,black

syntax c ".c"
color bold,white,black "include"
color bold,white,black "<[^>]*>"
