window#waybar {
	border: 0px solid #000000;
	background: transparent;
	font-family: Misc Fixed;
	font-size: 13px;
}
#clock {color: #FFFFFF; background: #000000;}
#tray {color: #FFFFFF;}
#battery {color: #FFFFFF; background: #000000; margin-right: 8px;}
#custom-tty {color: #FFFFFF; background: #000000;}
#custom-win {color: #FFFFFF; background: #000000;}
